body { 
  background-color: black;
  margin-top: 50px;
}

.App{
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.calc-wrapper{
  width: 25%;
 background-color: white;
 border-radius: 16px;

}
.row{
  display: flex;
}